<h1> Compras <small><%= @purchases.count %></small>  </h1>
<%= link_to icon('fas','plus'), new_purchase_path, class: "btn btn-success" %>
<% if @purchases.count > 0 %>
  <%= render "table" %>
<% else %>
  <div class="alert alert-success" role="alert">
    No hay compras cargadas por el momento, pero puedes <%= link_to "agregar una nueva", new_purchase_path, class: "alert-link" %>.
  </div>
<% end %>
